{% extends "base_community.html" %}

{% block extrahead %}
<style type="text/css" media="screen">
  h5 { margin-top: 5px; }
  #content-main .module { width: 350px; float: left; display: inline;}
  #content-main .first { margin-left: 20px; }
  #content-main .last { margin-right: 5px; }
  .hidden { display: none; }
</style>
{% endblock %}

{% block content %}

<h1>Community</h1>

<form method="POST" action="">
  {{ form.as_p }}
  <input type="submit" name="submit" value="Add Feed" />
</form>

<div id="content-secondary">
{% if has_next %}<a href="?page={{ next }}">Earlier posts</a>{% endif %}</p>
</div>

{% endblock %}
